<a href="https://colab.research.google.com/github/mohammadkaif11/Python/blob/main/json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

json

In [11]:
x={
    "name":"mohammad kaif",
     "roll number":23
}
print(x)

{'name': 'mohammad kaif', 'roll number': 23}

In [16]:
  import json
  x =  '{ "name":"John", "age":30, "city":"New York"}'
  y=json.loads(x) # PASE JSON INTO PYTHON DATA
print(y)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [19]:
import json
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

y=json.dumps(x) # convert python to json
print(y)
print(json.dumps(x, indent=4))
print(json.dumps(x, indent=4, sort_keys=True))

{"name": "John", "age": 30, "city": "New York"}
{
    "name": "John",
    "age": 30,
    "city": "New York"
}
{
    "age": 30,
    "city": "New York",
    "name": "John"
}