<a href="https://colab.research.google.com/github/mohammadkaif11/Python/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A set is a collection which is unordered, unchangeable, and unindexed.



*   Sets cannot have two items with the same value.

In [1]:
myset={"red","yellow","black"}
print(myset)

{'red', 'black', 'yellow'}

In [2]:
print(len(myset))

3

In [ ]:
set1={1,2,3}
set2={"red","black","pinr"}
set3={True,False}

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [5]:
set2={"red","black","pinr"}

for x in set2:
    print(x)

red
black
pinr

In [7]:
print("red" in set2)

True

In [9]:
set2={"red","black","pinr"}
set2.add("yellow")
print(set2)

{'red', 'black', 'yellow', 'pinr'}

In [10]:
set1={1,2,3}
set2={"pink","red"}
set1.update(set2)
print(set1)

{1, 2, 3, 'red', 'pink'}

In [12]:
set1={1,2,3}
ll=[5,6]
set1.update(ll)
print(set1)

{1, 2, 3, 5, 6}

To remove an item in a set, use the remove(), or the discard() method.

Note: If the item to remove does not exist, remove() will raise an error.

Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

In [13]:
set1={1,2,3,4,4}
set1.remove(1)
set1.discard(2)
print(set1)

{3, 4}

del()--
clr()

In [14]:
set1={1,2,3,4}
set2={5,6,7,8,9}
set1.update(set2)
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Intersection of two set

In [17]:
set1={1,2,3}
set2={2}
y=set2.intersection(set1)

print(set1)
print(y)

{1, 2, 3}
{2}

In [19]:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'google', 'banana'}