<a href="https://colab.research.google.com/github/mohammadkaif11/Python/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


three types numeric datatypes 
-int
-float
-complex

In [37]:
x=1
y=2.8
z=1j
print(x,y,z)

1 2.8 1j

In [40]:
import random
print(random.randrange(1,10))

7

Python string

In [49]:
a="this is kaif"
print(a[0])
print(len(a))
print("this" in a)
if "this" in a:
  print("yes is present")
if "not" not in a:
  print("not in string")
  for x in a:
    print(x)

t
12
True
yes is present
not in string
t
h
i
s

i
s

k
a
i
f

In [54]:
a ="this is world"

print(a[3:7])
print(a[:7])
print(a[3:])
print(a[-3:-2])# negative is start form last

s is
this is
s is world
r

In [59]:
a="this"
print(a.upper())
b='THIS'
print(a.lower())
c="  kakaka   "
print(c.strip())
print(c.replace('ka','ja'))
print(a+b)

THIS
this
kakaka
  jajaja
thisTHIS

In [62]:
age=7
a="my age is" + age
print(a)

TypeError: ignored

In [65]:
age=7
a="my age is {}"
print(a.format(age))

my age is 7

In [68]:
a=345
b=34
c=98
d="a is {} b is {} c is {}"
print(d.format(a,b,c))

a is 345 b is 34 c is 98